body{ 
  font-family:Tourney ;
  font-style: bold ;
  background:linear-gradient(90deg, #cce0123b 18%, #098fa7d8 82%);
  }
  img  {
width: 230px;
height: 230px;
  }

.dadBack{
  background:linear-gradient(90deg, #09ee1cee 34%, #098fa7d8 68%, rgb(243, 239, 3) 100% );;
}


  .elliott {
font-size: 20px ;
  }
  .picture { 
    width: 300px;
    height: 300px ;
  }
    .border{ 
      border: 12px groove rgb(40, 134, 146);
    }
      .mom { 
        width: 500px;
        height:500px;

      }
      
    
    .dad{
        width: 500px;
        height: 500px;
        }
